@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Atin to Azure-release-1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Release 5</a>.</p>
</div>
